
.idea/shelf/Uncommitted_changes_before_Update_at_5_18_20__7_48_PM__Default_Changelist_.xml
*.xml
.idea/shelf/Uncommitted_changes_before_Update_at_5_18_2020_10_35_PM_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_5_18_2020_10_35_PM_[Default_Changelist]/shelved.patch
*.xml

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/