{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edits For '{{ post['name'] }}' Order{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">NAME</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or post['name'] }}" required>
    <label for="street_address">Street Address</label>
    <input name="street_address" id="street_address"
      value="{{ request.form['street_address'] or post['street_address'] }}" required>
    <label for="city">City</label>
    <input name="city" id="city"
      value="{{ request.form['city'] or post['city'] }}" required>
    <label for="state">State</label>
    <input name="state" id="state"
      value="{{ request.form['state'] or post['state'] }}" required>
    <label for="zip_code">Zip Code</label>
    <input name="zip_code" id="zip_code"
      value="{{ request.form['zip_code'] or post['zip_code'] }}" required>
    <label for="card_number">Card Number</label>
    <input name="card_number" id="card_number"
      value="{{ request.form['card_number']}}" required>

<!--    <label for="body">Body</label>-->
<!--    <textarea name="street_address" id="body">{{ request.form['body'] or post['body'] }}</textarea>-->


    <input type="submit" value="Save">
    <input type="submit" value="Cancel">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}